@font-face {
    font-family: "Pokemon Solid";
    src: url("http://storage.googleapis.com/pokeneas-bucket-col1/fonts/Pokemon%20Solid.ttf");
}

body {
    margin: 0;
    font-family: "Pokemon Solid";
}

.main-container #page-content {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.main-container #background-video{
    object-fit: cover;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
}

.main-container #page-content .pokemon-info-container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#pokemon-speech-container {
    display: flex;
    width: 100%;
    filter: brightness(0);
}

.pokemon-info-container {
    width: 100%;
}

#pokemon-speech-container #speech-image {
    width: 300px;
    height: 300px;
    position: relative;
    transform: translateX(-100px);
    visibility: hidden;
    transition: visibility 1s ease-in-out;
}

#pokemon-speech-container #speech-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("https://storage.googleapis.com/pokeneas-bucket-col1/images/speech.png") no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotateY(180deg)
}

#pokemon-speech-container #pokemon-image {
    width: 500px;
}

#pokemon-phrase {
    position: relative;
    top: 100px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

#pokemon-name {
    position: relative;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    right: 100px;
    bottom: 100px;
    font-size: 60px;
    color: yellow;
    text-shadow: 5px 5px 1px rgb(0, 140, 255), -5px -5px 1px rgb(0, 140, 255), 0 0 1px rgb(0, 140, 255);
}

@keyframes fadein {
    0% {
        filter: brightness(0);
    }
    100% {
        filter: brightness(1);
    }
}